cell_name={{cell_name}}
manifest_dir={{manifest_dir}}
release={{release}}
arch={{arch}}
cell_root={{cell_root}}
run_uid={{run_uid}}
run_gid={{run_gid}}
run_groups={{run_groups}}
site_name={{site_name}}
site_role={{site_role}}
host_path={{host_path}}
